#slide1 {
  background-image: url(./../../../assets/wedding.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(75, 75, 75, 0.95);
  background-blend-mode: overlay;
}

#slide2 {
  background-image: url(./../../../assets/family.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(75, 75, 75, 0.95);
  background-blend-mode: overlay;
}
#slide3 {
  background-image: url(./../../../assets/engagement.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(75, 75, 75, 0.95);
  background-blend-mode: overlay;
}
#slide4 {
  background-image: url(./../../../assets/anniversaries.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(75, 75, 75, 0.95);
  background-blend-mode: overlay;
}
